@media only screen and (max-width:300px) {
  
    .item-OurFoods{
        margin-top:20px;
    }
    .ourFoods{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .width-desctiption{
        width: 70%;
    }
    .products{
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        margin-top:20px;
        margin-left: 15px;
        width: 90%;
    }
    .product{
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        margin-right: 20px;
        height: 530px;
        overflow: hidden;
    }
    .hight-btn{
        height: 50px;
    }
    .product-photo{
        border-radius: 5%;
      
    }
    .product-photo:hover{
        transition-duration: 1s;
        transform: scale(1.3,1.3);
    }
    .image-container{
        border-radius: 5%;
        overflow: hidden;
        width: 300px;
    }
    #w-btn{
        width: auto;
        border: 1px solid ;
    }
}
@media only screen and (min-width:300px) {
  
    .item-OurFoods{
        margin-top:20px;
    }
    .ourFoods{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .width-desctiption{
        width: 70%;
    }
    .products{
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        margin-top:20px;
        margin-left: 15px;
        width: 100%;
    }
    .product{
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        margin-right: 20px;
        height: 530px;
        overflow: hidden;
    }
    .hight-btn{
        height: 50px;
    }
    .product-photo{
        border-radius: 5%;
      
    }
    .product-photo:hover{
        transition-duration: 1s;
        transform: scale(1.3,1.3);
    }
    .image-container{
        border-radius: 5%;
        overflow: hidden;
        width: 300px;
    }
    #w-btn{
        width: auto;
        border: 1px solid ;
    }
}
@media only screen and (max-width:800px) {
 
    .item-OurFoods{
        margin-top:20px;
    }
    .ourFoods{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .width-desctiption{
        width: 70%;
    }
    .products{
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        width: 90%;
    }
    .product{
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        margin-right: 20px;
        height: 530px;
        overflow: hidden;
        width: auto;
    }
    .hight-btn{
        height: 50px;
    }
    .product-photo{
        border-radius: 5%;
      
    }
    .product-photo:hover{
        transition-duration: 1s;
        transform: scale(1.3,1.3);
    }
    .image-container{
        border-radius: 5%;
        overflow: hidden;
        width: 300px;
    }
    #w-btn{
        width: auto;
        border: 1px solid ;
    }
}
@media only screen and (min-width:924px) {
    
.item-OurFoods{
    margin-top:50px;
}
.ourFoods{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.width-desctiption{
    width: 70%;
}
.products{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    width: auto;
}
.product{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    margin-right: 20px;
    height: 530px;
    overflow: hidden;
    
}
.hight-btn{
    height: 50px;
}
.product-photo{
    border-radius: 5%;
  
}
.product-photo:hover{
    transition-duration: 1s;
    transform: scale(1.3,1.3);
}
.image-container{
    border-radius: 5%;
    overflow: hidden;
    width: 300px;
}
#w-btn{
    width: auto;
    border: 1px solid ;
}
}