@media only screen and (max-width:600px) {
    .home{
        background-image: url(../../Assets/Home/3.jpg);
        background-position:center;
        background-repeat:no-repeat ;
        padding: 40% 0 150px;
        background-size: cover;
        position: relative;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
.font{
   
    color: #43121d;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    width: 100%;
}
.contentHome{
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
}
}
@media only screen and (min-width:600px) {
    
.home{
    background-image: url(../../Assets/Home/3.jpg);
    background-position:center;
    background-attachment: fixed;
    background-repeat:no-repeat ;
    padding: 13% 0 150px;
    background-size: cover;
    position: relative;
    top: 0px;
    width: 100%;
    height: 543px;
    z-index: 1;
 
 }
 
 .font{
    
     color: #43121d;
     font-family: 'Quicksand', sans-serif;
     font-weight: 700;
     width: 100%;
 }
 .contentHome{
         width: 40%;
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         align-items: baseline;
 }
}