@media only screen and (max-width:600px) {
    .statistics{
        display: flex;
        flex-direction: column;
     
        background-color: #a82d49;
        background-attachment: fixed;
        height: 100%;
        text-align: center;
        width: 100%;
    color: white;
    }
    .item-statistics{
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
        grid-template-columns: auto;
        place-content: center;
        width: 100%;
        font-weight: 900;
    }
    
}
@media only screen and (min-width:600px) {

    .statistics{
        display: flex;
      
        background-color: #a82d49;
        background-attachment: fixed;
        height: 100%;
        text-align: center;
        width: 100%;
    color: white;
    }
    .item-statistics{
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
        grid-template-columns: auto;
        place-content: center;
        width: 100%;
        font-weight: 900;
    }
}

